// ? COLORS


$orange: #f6443a;
$orange2: #f68f3a11;

$grey-1: #212529;
$grey-2: #2b2f33;
$grey-3: #3f4246;
$grey-4: #696b6e;

$shadow-black: rgb(20 22 24 / 25%);
$shadow-white: rgb(63 66 70 / 25%);
$shadow-white-inset: rgb(6 6 7 / 25%);


// ? BORDER RADUIS
$radMin: 8px;
$radMid: 12px;
$radBig: 16px;






// ? components
$linkBase: $grey-4;
$linkActive: $orange;
$linkGradient: $orange2;


// tabs
$tabColor: $grey-4;
$tabColorActive: $orange;
$tabBorder: $orange;
$tabBG: $grey-1;
$tabBGActive: $grey-1;
