@import '../config/vars';

.btn {
  &-add {
    border-radius: $radMin;
    border: 1px dashed $grey-4;
    color: $grey-4;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border: 1px dashed $orange;
      color: $orange;
      cursor: pointer;
    }
  }

  &-base {
    padding: 16px 24px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 800;
    border-radius: 8px;
    width: max-content;
    background-color: $grey-1;
    border: none;
    color: $grey-4;
    box-shadow: 3px 3px 2px 3px $shadow-black,
      -3px -3px 3px 3px $shadow-white;
    transition: $timer ease, transform $timer ease-out;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: -3px -3px 2px 3px $shadow-black,
        3px 3px 3px 3px $shadow-white;
    }
  }

  &-orange {
    background-color: $orange;
    color: $grey-1;
  }

  &-dis {
    color: $grey-5;
    cursor: not-allowed;
    box-shadow: -3px -3px 2px 3px $shadow-black,
      3px 3px 3px 3px $shadow-white;

    &:active {
      box-shadow: -3px -3px 2px 3px $shadow-black,
        3px 3px 3px 3px $shadow-white;
    }
  }
}

.info {
  &-hidden {
    display: none;
  }

  &-panel {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 20px;
    display: flex;
    border-radius: 16px;
    padding: 4px;
    cursor: pointer;

    &:hover {
      border-radius: 8px;

      .info-hidden {
        display: block;
      }
    }

    i {
      padding: 8px;
      border-radius: 8px;
      margin: 4px;
      box-shadow: inset -3px -3px 2px 3px $shadow-black, inset 3px 3px 3px 3px $shadow-white;

      &:hover {
        color: $orange;
      }
    }
  }
}