.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vW;
  height: 100vH;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  &-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vW;
    height: 100vH;
    background-color: rgb(17 30 81 / 30%);
    backdrop-filter: blur(8px);
  }
  &-body {
    z-index: 12;
  }
}