@import '../config/vars';

.tabs {
  display: flex;

  .tab {
    font-size: 18px;
    padding: 8px 16px;
    background-color: $tabBG;
    color: $tabColor;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    border: 1px solid $tabBG;
    border-bottom: none;
    &:hover {
      color: $tabColorActive;
    }

    &-active {
      background-color: $tabBGActive;
      color: $tabColorActive;
      border: 1px solid $tabBorder;
      border-bottom: none;
    }
  }

  &-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}