@import '../config/vars';

.tabs {
  display: flex;    
  width: max-content;
  background-color: $tabBG;
  border-radius: 12px;

  .tab {
    font-size: 18px;
    padding: 8px 16px;
    color: $tabColor;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 16px;
    &:hover {
      color: $tabColorActive;
    }

    &-active {
      background-color: $tabBGActive;
      color: $tabColorActive;
    }
  }

  &-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}