@import '../config/vars';

.tabs {
  display: flex;    
  width: max-content;
  background-color: $tabBG;
  border-radius: 12px;

  .tab {
    font-size: 18px;
    padding: 8px 16px;
    color: $tabColor;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 8px;
    box-shadow: inset -3px -3px 2px 3px $shadow-black, inset 3px 3px 3px 3px $shadow-white;
    transition: $timer ease, transform $timer ease-out;
    &:hover {
      color: $tabColorActive;
    }

    &-active {
      background-color: $tabBGActive;
      color: $tabColorActive;
      box-shadow: inset -3px -3px 11px 1px $shadow-white, inset 3px 3px 11px 1px $shadow-white-inset;
    }
  }

  &-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}