@import '../../config/vars';

.card {
  border-radius: $radMin;
  background-color: $grey-1;
  color: $grey-4;
  padding: 12px;
  position: relative;

  &-title {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.group-form {
  width: 350px;
  border-radius: $radMin;
  background-color: $grey-1;
  box-shadow: 0 0 10px $orange2;
  color: $grey-4;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 24px;
  .btn-actions {
    margin-top: 16px;
  }
}