@import '../../config/vars';

.card {
  border-radius: $radMin;
  background-color: $grey-2;
  color: $grey-4;
  padding: 12px;
  position: relative;
  box-shadow: inset -3px -3px 2px 3px $shadow-black, inset 3px 3px 3px 3px $shadow-white;

  &-title {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.group-form {
  width: 350px;
  border-radius: $radMin;
  background-color: $grey-1;
  box-shadow: 0 0 10px $orange2;
  color: $grey-4;
  padding: 16px;
}
